@import "~bootstrap/scss/bootstrap-grid.scss";
@import "~bootstrap/scss/bootstrap-utilities.scss";

@font-face {
  font-family: "PX-CourBD16";
  src: url("../assets/fonts/COURBD-16-Bold.woff") format("woff");
}

@font-face {
  font-family: "PX-Times16";
  src: url("../assets/fonts/TIMES-16-Regular.woff") format("woff");
}

@font-face {
  font-family: "PX-TimesBd16";
  src: url("../assets/fonts/TIMESBD-16-Bold.woff") format("woff");
}

@font-face {
  font-family: "PX-TimesBd24";
  src: url("../assets/fonts/TIMESBD-24-Bold.woff") format("woff");
}

@font-face {
  font-family: "PX-TimesBd32";
  src: url("../assets/fonts/TIMESBD-32-Bold.woff") format("woff");
}

@font-face {
  font-family: "PX-TimesI16";
  src: url("../assets/fonts/TIMESI-16-Italic.woff") format("woff");
}

html,
body {
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
}

div.main {
  width: 768px;
  margin: 0 auto;
}

body {
  font-family: PX-Times16, 'Times New Roman', serif;
  font-size: 16px;
}

h1 {
  font-family: PX-TimesBd32, 'Times New Romain', serif;
  font-size: 32px;
}

h2 {
  font-family: PX-TimesBd24, 'Times New Romain', serif;
  font-size: 24px;
}

b {
  font-family: PX-TimesBd16, 'Times New Romain', serif;
  font-size: 16px;
}

i {
  font-family: PX-TimesI16, 'Times New Romain', serif;
  font-size: 16px;
}

table {
	border-top: 1px solid #c0c0c0;
	border-left: 1px solid #c0c0c0;
	border-bottom: 1px solid #808080;
	border-right: 1px solid #808080
}

th,td {
	padding: 5px;
	border-top: 1px solid #808080;
	border-left: 1px solid #808080;
	border-bottom: 1px solid #c0c0c0;
	border-right: 1px solid #c0c0c0
}
