@keyframes color-change {
  0% { color: #000; }
  20% { color: red; }
  50% { color: green; }
  75% { color: blue; }
  100% { color: #000; }
}

.header {
  h1 {
    margin: 0;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    animation: color-change 8s infinite;
  }

  hr {
    margin: 1.5rem 0;
  }
}
