@keyframes rainbow {
  0% {
    color: white;
  }
  14% {
    color: yellow;
  }
  28% {
    color: orange;
  }
  42% {
    color: red;
  }
  56% {
    color: #8769fd;
  }
  70% {
    color: #5289f0;
  }
  84% {
    color: #00f1f1;
  }
  100% {
    color: white;
  }
}

$header-color-bg: #007e5f;
$header-border: 2px;

.header {
  .headerTitle {
    text-align: center;
    margin: 0;
    margin-top: 1.5rem;
    margin-bottom: 0.7rem;

    h1 {
      position: relative;
      margin: 0;
      padding: 0 1.5rem 0.3rem 1.5rem;
      text-align: center;
      background-color: $header-color-bg;
      border: 5px outset $header-color-bg;
      display: inline-block;
      text-shadow: $header-border $header-border #002e5c;

      animation: rainbow 10s linear infinite;

      &::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        background: url('../assets/images/bg_pattern.jpg');
        mix-blend-mode: multiply;
      }
    }
  }

  hr {
    margin: 1.5rem 0;
  }
}
