@import "~bootstrap/scss/bootstrap-utilities.scss";

.navMenu {
  margin: 0 auto;
  padding: 0 1px;
  background-color: #dff;
  width: fit-content;

  border-top: 1px solid #c0c0c0;
  border-left: 1px solid #c0c0c0;
  border-bottom: 1px solid #808080;
  border-right: 1px solid #808080;

  @include media-breakpoint-down(md) {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 3px;
  }

  .navMenuItem {
    display: flex;
    align-items: center;

    margin: 2px 1px;
    @include media-breakpoint-down(md) {
      margin-top: 1px;
      margin-bottom: 1px;
    }

    padding: 0.25rem 0.5rem;
    border-top: 1px solid #808080;
    border-left: 1px solid #808080;
    border-bottom: 1px solid #c0c0c0;
    border-right: 1px solid #c0c0c0;


    > .navMenuItemImage {
      display: flex;
      margin-right: 0.5rem;
    }
  }
}
